*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 30px;
}

.blog-card-container{
    background-color: aqua;
    width: 450px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 15px 8px 20px 0px rgba(85, 85, 85, 1);
    transition: 0.3s ease;
}

.blog-card-container:hover{
    transform: scale(1.1);
}

.blog-card-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card-container .blog-content{
    padding: 20px;
}

.blog-content h1{
    font-size: 2.5rem;
    color: #222;
    margin: 10px 0 20px 0;
}

.blog-content p{
    font-size: 1.2rem;
    color: #6f6868;
    line-height: 1.3;
    margin: 20px 0;
}

.blog-content h2{
    font-size: 1.2rem;
    margin: 15px 0 0 0;
    font-family: cursive;
}

.glowing{
    background-color: #ffffff;
    padding: 5px 20px;
    margin-bottom: 30px;
    border-radius: 15px;
}
